.note-scroll::-webkit-scrollbar {
    width: 4px;
}

.note-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.note-scroll::-webkit-scrollbar-thumb {
    background-color: currentColor;
    opacity: 0.25;
    border-radius: 9999px;
}
